@CHARSET "UTF-8";
@import "css/common.css";

form {
	width: 400px;
	margin: 100px auto;
	border: 1px solid #ddd;
	padding: 10px;
}

table {
	width: 100%;
}

input[type=text], select {
	width: 100%;
	box-sizing: border-box;
}
