@CHARSET "UTF-8";
@import "css/common.css";

body {
	overflow: hidden;
}

input[name=status] {
	font-size: 15pt;
	font-weight: bold;
	color: #0f0;
}

div.table span {
	display: inline-block;
	box-sizing: border-box;
	margin: .5em 0;
}

div.table span:first-child {
	width: 20%;
}

div.table span:last-child {
	width: 80%;
}

table {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}

canvas {
	background-color: #000;
}

table input, table textarea {
	width: 100%;
	box-sizing: border-box;
}

#ifentry tr:not(.up) {
	background-color: pink;
}

#ifentry tr:hover {
	outline: 1px solid #777;
	cursor: default;
}

#interface td, #interface th {
	padding: .5em;
	font-size: 11px;
}

.left {
	padding: 30px;
	box-sizing: border-box;
	position: absolute; width: 400px; top: 0; bottom: 0; left: 0;
}

.right {
	position: absolute; top: 0; right: 0; bottom: 0; left: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}