@CHARSET "UTF-8";
@import "css/common.css";

input[name=status] {
	font-size: 15pt;
	font-weight: bold;
	color: #0f0;
}

table {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}

canvas {
	background-color: #000;
}

table input, table textarea {
	width: 100%;
	box-sizing: border-box;
}

#ifentry tr:not(.up) {
	background-color: pink;
}

#ifentry tr:hover {
	outline: 1px solid #777;
	cursor: default;
}

#interface td, #interface th {
	padding: .5em;
	font-size: 11px;
}