@CHARSET "UTF-8";
@import "css/common.css";

.dialog {
	width: 700px;
	margin: 100px auto;
	border: 1px solid #ddd;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 20px 10px #ddd;
}

.ellipsis {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.box {
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 200px;
	padding: 10px;
}

.box.center {
	margin: auto;
}

.box.left{
	float: left;
}

.box.right{
	float: right;
}

.full {
	width: 100%;
	box-sizing: border-box;
}

.half {
	width: 50%;
	box-sizing: border-box;
}
