@CHARSET "UTF-8";
@import "css/common.css";

body {
	overflow: hidden;
}

input[name=status] {
	font-size: 15pt;
	font-weight: bold;
	color: #0f0;
}

div.table span {
	display: inline-block;
	box-sizing: border-box;
	margin: .5em 0;
}

div.table span:first-child {
	width: 20%;
}

div.table span:last-child {
	width: 80%;
}

table {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}

canvas {
	/*background-color: #000;*/
	vertical-align: bottom;
}

table input,
table textarea {
	width: 100%;
	box-sizing: border-box;
}

#ifentry tr:not(.up) {
	background-color: pink;
}

#ifentry tr:hover {
	outline: 1px solid #777;
	cursor: default;
}

#interface td, #interface th {
	padding: .5em;
	font-size: 11px;
}

aside {
	padding: 10px;
	box-sizing: border-box;
	position: fixed; width: 400px; top: 0; bottom: 0; left: 0;
	overflow: auto;
}

header {
	position: fixed; top: 0; right: 0; left: 400px; height: 100px;
}

section {
	position: fixed; top: 100px; right: 0; bottom: 0; left: 400px;
	display: flex;
	flex-direction: column;
}

section .chart {
	position: relative;
	flex: 1;
}

input[type=checkbox] {
	vertical-align: middle;
}

aside ul {
	list-style: none;
	padding: 0;
}

header h3,
header h4 {
	margin: 0;
	padding: 0;
	line-height: 50px;
	text-align: center;
}

#navigation {
	position: absolute;
	width: 100%;
	top: 5px;
}

#navigation:first-child {
	float: left;
}

#navigation:last-child {
	float: right;
}