@CHARSET "UTF-8";
@import "css/common.css";

body {
	overflow: hidden;
}

input[name=status] {
	font-size: 15pt;
	font-weight: bold;
	color: #0f0;
}

div.table span {
	display: inline-block;
	box-sizing: border-box;
	margin: .5em 0;
}

div.table span:first-child {
	width: 20%;
}

div.table span:last-child {
	width: 80%;
}

table {
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}

canvas {
	/*background-color: #000;*/
	vertical-align: bottom;
}

table input, table textarea {
	width: 100%;
	box-sizing: border-box;
}

#ifentry tr:not(.up) {
	background-color: pink;
}

#ifentry tr:hover {
	outline: 1px solid #777;
	cursor: default;
}

#interface td, #interface th {
	padding: .5em;
	font-size: 11px;
}

aside {
	padding: 10px;
	box-sizing: border-box;
	position: fixed; width: 400px; top: 0; bottom: 0; left: 0;
	overflow: auto;
}

article {
	position: fixed; top: 0; right: 0; bottom: 0; left: 400px;
}

section {
	position: absolute; right: 0; left: 0;
	/*background-color: #fff;*/
}

.tab {
	display: inline-block;
	line-height: 30px;
	text-align: center;
	width: 60px;
	border-radius: 5px 5px 0 0;
	position: absolute; top: -30px; right: 0; left: 0; height: 30px;
	background-color: #000;
	color: #ddd;
}

section:nth-child(1) .tab {
	left: 5px;
}

section:nth-child(2) .tab {
	left: 66px;
}

.content {
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
	overflow-y: scroll;
	padding: 10px;
}

.tab a:link, .tab a:visited, .tab a:active {
	color: #ddd;
	text-decoration: none;
}

section:target .tab {
	background-color: #fff;
}

section:target .tab a{
	color: #000;
}

input[type=checkbox] {
	vertical-align: middle;
}

aside ul {
	list-style: none;
	padding: 0;
	max-height: 160px;
	overflow: auto;
}

section h3,
section h4 {
	margin: 0;
	padding: 0;
	line-height: 50px;
	text-align: center;
}

section.title {
	top: 0; height: 100px;
}

#chart {
	top: 100px; bottom: 200px;
}

#notes {
	bottom: 0; height: 200px;
}

#switch {
	position: absolute; top: 10px; right: 10px;
}

.blink {
	text-decoration: blink;
}