@CHARSET "UTF-8";
@import "/ITAhM2014/css/common.css";

input, span {
	font-size: 11pt;
}

.dialog {
	width: 300px;
	margin: 100px auto;
	padding: 20px;
	border: 1px solid #ddd;
	background-color: #fff;
	box-shadow: 0px 0px 20px 10px #ddd;
}

label {
	display: flex;
}

label>* {
	padding: .5em;
}

label>*:first-child {
	flex: 1;
	text-align: right;
}

label>*:last-child {
	flex: 3;
	width: 100%;
	box-sizing: border-box;
}
