@CHARSET "UTF-8";

body {
	padding: 0;
	margin: 0;
	font-family: tahoma, arial, "맑은 고딕";
	/*background-color: #fff;*/
}

input, textarea, li, td, th, select, legend, span, label {
	font-size: 12px;
	font-family: tahoma, arial, "맑은 고딕";
}

body.loading {
	display: none;
}

div.body {
	width: 600px;
	margin: 0 auto;
	padding: 10px;
}

nav a:link, nav a:visited, nav a:active {
	color: #000;
	text-decoration: none;
}

nav a:hover {
	color: #a0f;
	text-decoration: underline;
	cursor: pointer;
}

input[type=submit],
input[type=reset],
input[type=button],
select {
	padding: .5em 1em;
}

input[type=text],
input[type=password],
input[type=number] {
	padding: .5em;
}

input:read-only, textarea:read-only {
	border: none;
}

.hidden {
	display: none;
}

.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}